*{
    padding: 3px;
}
.grid-body{

    display: grid;
    grid-template-columns: 75% 25%;
}
header{
    background-color: #567BD1;
}
body{
    background-color: #6490f5;
}
footer{
    background-color: #243357;
}
.grid-footer{

    min-height: 80px ;
    max-height: 80px;
    display: grid;
    grid-template-columns: auto auto;

}

.grid-header{
    display: grid;
    grid-template-columns: 20% 80%;
    min-height: 120px;
}



.head{
   
    align-items: center;

}
.body{
    min-height: 400px;
}
.foot-izq{
    background-color: #243357;
    font-size: 1.5em;
    font-weight: bold;
}
.foot-der{
    background-color: #243357;
    align-items: end;
    text-align: right;

}

    

h1{
    font-size: 2.5rem;
}
.logo{
    height: 120px;
    width: 240px;

}
.lista-footer{
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

#main{
    display: grid;
    grid-template-columns: auto auto auto;
}

.div-titulo{
    grid-column: 1/span 3;
}
.div-img{

    margin: 5px;
}
.div-parrafo{
    grid-column: 2/3;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    

}
.div-noticias{
    grid-column: 1/span 3;
    display: grid;
    grid-template-columns: auto auto auto;
}
.div-noti{
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    margin-left: 5px;
}
#aside{
    display: flex;
    flex-direction: column;

}
a{
    color: black;
    display: inline-block;
    text-decoration: none;
    background-color: gray;
}
a:hover{
    background-color: #6490f5;
}
