
.grid-body{

    display: grid;
    grid-template-columns: 75% 25%;
}

.grid-footer{
    min-height: 80px ;
    max-height: 80px;
    display: grid;
    grid-template-columns: auto auto;

}

.grid-header{
    display: grid;
    grid-template-columns: 20% 80%;
    min-height: 120px;
}

div{
    border: 1px solid black;
}

.head{
   
    align-items: center;

}
.body{
    min-height: 400px;
}
.foot-izq{

    font-size: 1.5em;
    font-weight: bold;
}
.foot-der{
    align-items: center;
    text-align: right;

}
.p-foot-der{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    }
    

h1{
    font-size: 2.5rem;
}
.logo{
    height: 60px;
    width: 60px;

}
.lista-footer{
    list-style-type: none; 
    padding: 0;
    margin: 0;
}